<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello with botchat</title>
  </head>

  <body>
    <h1>Hello world with botchat</h1>
    <form action="/setup-profile" method="POST">
      <button type="submit">Setup profile</button>
    </form>
  </body>
</html>
