<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello with botchat</title>
  </head>

  <body>
    <h1>Hello world with botchat</h1>
    <form action="/setup-profile" method="POST">
      <button type="submit">Setup profile</button>
    </form>
    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>
    <div
      id="fb-customer-chat"
      class="fb-customerchat"
      page_id="61560848102450"
      attribution="setup_tool"
      logged_in_greeting="Xin chào. Mình có thể giúp gì được cho bạn?"
      logged_out_greeting="Xin chào. Mình có thể giúp gì là bằng nhau cho bạn?"
    ></div>
    <script>
      var chatbox = document.getElementById("fb-customer-chat");
      chatbox.setAttribute("page_id", "PAGE-ID");
      chatbox.setAttribute("attribution", "setup_tool");
    </script>
    <script>
      window.fbAsyncInit = function () {
        FB.init({ xfbml: true, version: "v20.0" });
      };
      (function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js";
        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "facebook-jssdk");
    </script>
  </body>
</html>
